/* Base Styles */

body {
    font-family: 'Source Code Pro', monospace; 
    background-color: #eaeaea;
}

nav * {
    font-family: 'Source Code Pro', monospace;
    color: #08d9d6;
}

.page-section h2.section-heading {
    color: #ff2e63;
    font-size: 46px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-section h3.section-subheading {
    color: #252a34;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
}

/* Hero Section Styles */

.hero {
    text-align: center;
    color: #eaeaea;
    background-image: url("../images/alexandru-acea-TMkrN9QZERw-unsplash-resized.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.hero .intro-text-box {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.hero .intro-text-box .intro-heading h2 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Source Code Pro', monospace;
    /* color: #f5f8ff; */
}


@media (min-width: 768px) {
    header.hero .intro-text-box {
        padding-top: 350px;
        padding-bottom: 275px;
    }
    header.hero .intro-text-box .intro-heading h2 {
        font-size: 80px;
        line-height: 82px;
        margin-bottom: 25px;
    }
}


/*  Portfolio Section Styles */

#work * {
    z-index: 2;
}

.portfolio-grid {
    padding-top: 50px;
    padding-bottom: 50px;
}

#work .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

@media (min-width: 767px) {
    #work .portfolio-item {
        margin: 0 0 30px;
    }
}

#work .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* Services Section Styles */

.services-hero {
    color: #eaeaea;
    background-image: url("../images/caspar-camille-rubin-oI6zrBj3nKw-unsplash-resized.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-bottom: 75px;
}

.services-subheading {
    color: #eaeaea;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
}

.service-summary {
    color: #eaeaea;
}

.service-icon-color {
    color: #ff2e63;
}

@media (min-width: 768px) {

    .services-hero {
        padding-top: 100px;
        padding-bottom: 150px;
    }
}


/* Contact Section Styles */

.form-row {
    padding-bottom: 50px;
}

#contact .form-group {
    margin-bottom: 25px;
}

#contact .form-group input.form-control {
    height: auto;
}

#contact .form-group input,
#contact .form-group textarea {
    padding: 20px 20px;
}

#contact .form-group textarea.form-control {
    height: 248px;
}

.btn-primary {
    font-size: 21px;
    font-weight: 600;
    background-color: #ff2e63;
    border-color: #ff2e63;
    transition: all .3s;
}

.btn-primary:hover {
    background-color: #08d9d6;
    border-color: #08d9d6;
}

/* Footer Section */

.page-section#footer {
    text-align: center;
}

.footer-grid {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-grid-item {
    margin-bottom: 40px;
}

.footer-grid-item p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
}

.footer-grid-item p a {
    color: #252a34;
    transition: all .3s;
}

.footer-grid-item p a:hover {
    color: #08d9d6;
    text-decoration: none;
}

ul.social-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all .3s;
    color: #eaeaea;
    border-radius: 100%;
    outline: 0;
    background-color: #252a34;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
    background-color: #08d9d6;
}

.meetup-tagline {
    font-style: italic;
}