/* Base Styles */

body {
    font-family: 'Source Code Pro', monospace; 
    background-color: #eaeaea;
}

nav * {
    font-family: 'Source Code Pro', monospace;
    color: #08d9d6;
}

.page-section h2.section-heading {
    color: #ff2e63;
    font-size: 46px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-section h3.section-subheading {
    color: #252a34;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
}

/* Hero Section Styles */

.hero {
    text-align: center;
    color: #eaeaea;
    background-image: url("../images/alexandru-acea-TMkrN9QZERw-unsplash-resized.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.hero .intro-text-box {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.hero .intro-text-box .intro-heading h2 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Source Code Pro', monospace;
    /* color: #f5f8ff; */
}


@media (min-width: 768px) {
    header.hero .intro-text-box {
        padding-top: 350px;
        padding-bottom: 275px;
    }
    header.hero .intro-text-box .intro-heading h2 {
        font-size: 80px;
        line-height: 82px;
        margin-bottom: 25px;
    }
}


/*  Portfolio Section Styles */

#work * {
    z-index: 2;
}

.portfolio-grid {
    padding-top: 50px;
    padding-bottom: 50px;
}

#work .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

@media (min-width: 767px) {
    #work .portfolio-item {
        margin: 0 0 30px;
    }
}

#work .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* Services Section Styles */

.lead {
    font-size: 1.25rem;
}

.services-hero {
    color: #eaeaea;
    background-image: url("../images/caspar-camille-rubin-oI6zrBj3nKw-unsplash-resized.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-bottom: 75px;
}

.services-subheading {
    color: #eaeaea;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 50px;
    text-transform: lowercase;
    font-family: 'Montserrat', sans-serif;
}

.service-summary {
    color: #eaeaea;
}

.service-icon-color {
    color: #ff2e63;
}

@media (min-width: 768px) {

    .services-hero {
        padding-top: 100px;
        padding-bottom: 150px;
    }
}


/* Contact Section Styles */

#contact .form-group {
    margin-bottom: 25px;
}

#contact .form-group input.form-control {
    height: auto;
}

#contact .form-group input,
#contact .form-group textarea {
    padding: 20px 20px;
}

#contact .form-group textarea.form-control {
    height: 248px;
}

.btn-primary {
    background-color: #ff2e63;
    border-color: #ff2e63;
}

.btn-primary:hover {
    background-color: #08d9d6;
    border-color: #08d9d6;
}