/* Base Styles */

body {
    font-family: 'Source Code Pro', monospace; 
    background-color: rgb(88, 82, 82);
}

nav {
    font-family: 'Source Code Pro', monospace;
}

.page-section h2.section-heading {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Hero Section Styles */

.hero {
    text-align: center;
    color: #fff;
    background-image: url("../images/alexandru-acea-TMkrN9QZERw-unsplash-resized.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.hero .intro-text-box {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.hero .intro-text-box .intro-heading h2 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Source Code Pro', monospace;
    color: #f5f8ff;
}



@media (min-width: 768px) {
    header.hero .intro-text-box {
        padding-top: 350px;
        padding-bottom: 275px;
    }
    header.hero .intro-text-box .intro-heading h2 {
        font-size: 72px;
        line-height: 78px;
        margin-bottom: 25px;
    }
}


/*  Portfolio Section Styles */

#work * {
    z-index: 2;

}



.portfolio-grid {
    padding-top: 50px;
    padding-bottom: 50px;
}

#work .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

@media (min-width: 767px) {
    #work .portfolio-item {
        margin: 0 0 30px;
    }
}

#work .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

.img-fluid {
    max-width: 100%;
    height: 260px;
}

img {
    vertical-align: middle;
    border-style: none;
}

/* About Section Styles */

.lead {
    font-size: 1.25rem;
}

.services-hero {
    color: #fff;
    background-image: url("../images/caspar-camille-rubin-oI6zrBj3nKw-unsplash-resized.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.section-heading {

}

@media (min-width: 768px) {

    .services-hero {
        padding-top: 100px;
        padding-bottom: 150px;
    }
}


/* Contact Section Styles */
